<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>375726467385-7unf86ds3j82m3o37jk7uuktku1h14k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375726467385-7unf86ds3j82m3o37jk7uuktku1h14k1</string>
	<key>API_KEY</key>
	<string>AIzaSyCdhyVt14ahO9j00n832It5F-ahscR58Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>375726467385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Sports-Dating-App</string>
	<key>PROJECT_ID</key>
	<string>sports-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-dating-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:375726467385:ios:83ed9cba6e26b9e1</string>
	<key>DATABASE_URL</key>
	<string>https://sports-dating-app.firebaseio.com</string>
</dict>
</plist>